/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: APITable;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	max-id: 3;
	border-spacing-x: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-left: 3px;
	cell-padding-right: 10px;
	font-size: 0.9em;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #808080;
	name: Header1;
	id: 2;
	text-align: left;
	cell-padding-left: 3px;
	background-color: #f5f5f5;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Body1;
	id: 1;
	cell-padding-left: 2px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-APITable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	border-spacing: 3px 0px;
}

.TableStyle-APITable-Column-Column1
{
	
}

.TableStyle-APITable-Head-Header1
{
	
}

.TableStyle-APITable-HeadI-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadI-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadE-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
	border-bottom-width: 3px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-APITable-HeadE-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadF-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
	border-bottom-width: 3px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-APITable-HeadF-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadH-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadH-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadD-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
	border-bottom-width: 3px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-APITable-HeadD-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadC-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadC-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadB-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadB-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadA-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadA-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-HeadG-Column1-Header1
{
	font-size: 0.9em;
	padding-right: 10px;
	text-align: left;
	background-color: #f5f5f5;
	padding-left: 3px;
}

.TableStyle-APITable-HeadG-Column1-Header1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-Foot-Footer1
{
	
}

.TableStyle-APITable-FootI-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-FootI-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootE-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-APITable-FootE-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootF-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-APITable-FootF-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootH-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-APITable-FootH-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootD-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-APITable-FootD-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootC-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-FootC-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootB-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-APITable-FootB-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootA-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-FootA-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-FootG-Column1-Footer1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-FootG-Column1-Footer1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-Body-Body1
{
	
}

.TableStyle-APITable-BodyI-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyI-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-APITable-BodyE-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyF-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyH-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-APITable-BodyH-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyD-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyC-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyC-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyB-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-APITable-BodyB-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyA-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyA-Column1-Body1 p
{
	font-size: 0.9em;
}

.TableStyle-APITable-BodyG-Column1-Body1
{
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 10px;
}

.TableStyle-APITable-BodyG-Column1-Body1 p
{
	font-size: 0.9em;
}


