/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableRows;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #000000;
	color: #000000;
	name: Header1;
	id: 3;
	background-color: #c0c0c0;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #dcdcdc;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TableRows
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TableRows-Column-Column1
{
	
}

.TableStyle-TableRows-Head-Header1
{
	
}

.TableStyle-TableRows-HeadI-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadE-Column1-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRows-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadF-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRows-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadH-Column1-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadD-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRows-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadC-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadB-Column1-Header1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadA-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-HeadG-Column1-Header1
{
	padding-left: 10px;
	color: #000000;
	text-align: left;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-TableRows-Foot-Footer1
{
	
}

.TableStyle-TableRows-FootI-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootE-Column1-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRows-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootF-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRows-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootH-Column1-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootD-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRows-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootC-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootB-Column1-Footer1
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootA-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-FootG-Column1-Footer1
{
	padding-left: 10px;
	background-color: #c0c0c0;
}

.TableStyle-TableRows-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableRows-Body-Body1
{
	
}

.TableStyle-TableRows-BodyI-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
}

.TableStyle-TableRows-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyE-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyF-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableRows-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyH-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyD-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableRows-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyC-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
}

.TableStyle-TableRows-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyB-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyA-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
}

.TableStyle-TableRows-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableRows-BodyG-Column1-Body1
{
	padding-left: 10px;
	background-color: #dcdcdc;
}

.TableStyle-TableRows-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableRows-Body-Body2
{
	
}

.TableStyle-TableRows-BodyI-Column1-Body2
{
	padding-left: 10px;
}

.TableStyle-TableRows-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyE-Column1-Body2
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyF-Column1-Body2
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableRows-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyH-Column1-Body2
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyD-Column1-Body2
{
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TableRows-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyC-Column1-Body2
{
	padding-left: 10px;
}

.TableStyle-TableRows-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyB-Column1-Body2
{
	padding-left: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRows-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyA-Column1-Body2
{
	padding-left: 10px;
}

.TableStyle-TableRows-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableRows-BodyG-Column1-Body2
{
	padding-left: 10px;
}

.TableStyle-TableRows-BodyG-Column1-Body2 p
{
	
}


